/aadhaar_dashboard2.py
/aadhaar_data.ipynb
/aadhar.ipynb
/aadhar_dashboard.py
/abc.ipynb
/adhaar_app.py
/AQI_Project
/AQI_Project.zip
/AQI_Project_Zip.zip
/banking.ipynb
/banking_fraud.csv
/car-price-prediction-and-analysis.ipynb
/cleaned_data.csv
/customer-stay-or-churn.ipynb
/e-commerce-customer-analysis.ipynb
/Ecommerce funnel analysis kartikey
/Ecommerce funnel analysis kartikey.zip
/etl_aqi.py
/e_commerce.ipynb
/google-play-store-eda-project.ipynb
/ida.ipynb
/ida2.ipynb
/import os.py
/indicator.csv
/logs
/Mental-Health-Project
/Mental-Health-Project.zip
/mental_wellness.ipynb
/new.csv
/new.ipynb
/NewFolder
/Paisabazar banking fraud analysis.ipynb
/Paisabazar banking fraud analysis2.ipynb
/play.ipynb
/pop_table.csv
/practice.ipynb
/project of IDS.zip
/Project_janhvi_Techpile
/Project_janhvi_Techpile.zip
/sample.csv
/Space_Debris_Project
/Space_Debris_Project.zip
/stock_predictor
/Techpile
/telco.ipynb
/the-depression-dataset-analysis.ipynb
/UIDAI project.ipynb
/uniques_ida.csv
/xyz.ipynb